* {
  margin: 1;
  padding: 1;
}
html {
  background-color: #0044ff;
}

.conteudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

#numero {
  display: block;
  font-size: 100px;
  font-weight: bold;
  margin: 0 20px;
  color: darkgreen;
}

.botoes button {
  background-color: aqua;
  color: rgb(236, 124, 146);
  font-weight: bold;
  border-radius: 14px;
  border-color: rgb(255, 17, 0);
  width: 90px;
}

.botoes {
  display: flex;
  gap: 0 40px;
}

/*
01010010 00110001 00110100
*/
